.Container {
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 3px;

  transition: all 0.5;

  p {
    &:hover {
      filter: brightness(1.5)
    };
  }

  img {
    height: 70px;
    position: absolute;
    right: 0
  }

}

@media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */

  .Container {
    justify-content: start;
    height: 70px;
    font-size: 12px;
    
    p {
      margin-left: 8px;
    }
  }

}